<%= javascript_include_tag 'jquery-1.9.1.js' %>
<%= javascript_include_tag 'handlebars-1.0.0-rc.3.js' %>
<%= javascript_include_tag 'ember-1.0.0-rc.3.js' %>
<%= javascript_include_tag 'demo.js' %>
<%= stylesheet_link_tag 'demo.css' %>

<script type="text/x-handlebars">
  <div class=fl>
    {{#collection contentBinding="App.sentenceController"}}
    {{view App.SentenceView sentence=content}}
    {{/collection}}
  </div>

  <div class=fr>
    <label for=extra_commas>Extra commas</label>
    <div id=extra_commas>,</div>
  </div>
</script>
